* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.logo {
    flex-basis: 15%;
}

.logo img {
    width: 120px;
    cursor: pointer;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -70px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-box h1 {
    font-size: 35px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn {
    border: 1px solid #f44336;
    text-decoration: none;
    color: #fff;
    background: #f44336;
}

.btn:hover {
    background: #aa241b;
} 

.hero-btn:hover {
    border: 1px solid #f44336;
    text-decoration: none;
    color: #fff;
    background: #f44336;
    transition: 1s;
}

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.container{
    padding-top: 100px;
    background: #fff;
    height: 350px;
}
h2{
    text-align: center;
    padding: 20px;
}
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}

.column {
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.column p {
    text-align: left;
}

.column h3 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.column:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.campus-col {
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.campus-col h3 {
    text-align: left;
    font-size: 22px;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(201, 204, 204, 0.7);
}

.layer h3 {
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 50%;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
}

.facilities-co p {
    padding: 0;
}

.facilities-co h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-container p {
    padding-top: 250px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

ul {
    list-style: none;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #192642;
    padding: 70px 0;
    margin-top: 100px;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91363;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225,225,225,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262B;
    background-color: #fff;
}